@media screen and (max-width: 1024px) {
    .resaux ul{
        flex-direction: column;
    }
    .resaux ul li{
        margin: 7px 0;
    }
    .copyright{
        writing-mode: sideways-lr;
        font-size: 14px;
    }
    .logo-background{
      width: 20vw;
    }
}
  
@media screen and (max-width: 768px) {
    .title-content p {
      font-size: 4vw;
    }
    .main-description{
        font-size: 2.5vw;
    }
    .copyright{
      writing-mode: sideways-lr;
      font-size: 11px;
  }
  .logo-background{
    width: 25vw;
  }
}


@media screen and (max-width: 425px) {
    .container-list-header {
      display: none;
    }
    .main-description{
        font-size: 3vw;
    }
    .copyright{
      font-size: 2.8vw;
    }
    .logo-background{
      width: 30vw;
    }
}