@media only screen and (min-width: 0px) {
  .tall-title, .tall-title span{
    font-size: 9vw;
  }
  .small-texte, .small-texte span{
    font-size: 4vw;
  }

  /* Main */

  .main-description {
    font-size: 2.3vw;
  }
}

@media only screen and (min-width: 600px) {
  .tall-title, .tall-title span{
    font-size: 8vw;
  }
  .small-texte, .small-texte span{
    font-size: 3.5vw;
  }

  /* Main */

  .main-description {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 768px) {
  .tall-title, .tall-title span{
    font-size: 7vw;
  }
  .small-texte, .small-texte span{
    font-size: 3vw;
  }

  /* Main */

  .main-description {
    font-size: 1.8vw;
  }
}

@media only screen and (min-width: 889px) {
  .tall-title, .tall-title span{
    font-size: 6vw;
  }
  .small-texte, .small-texte span{
    font-size: 2.5vw;
  }

  /* Main */

  .main-description {
    font-size: 1.6vw;
  }
}

@media only screen and (min-width: 1200px) {
  .tall-title, .tall-title span{
    font-size: 72px;
  }
  .small-texte, .small-texte span{
    font-size: 30px;
  }

  /* Main */

  .main-description {
    font-size: 1.4vw;
  }
}