@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@701,200,500,301,201,1,300,2,601,600,401,501,400,700&display=swap");


@font-face {
  font-family: "Unna";
  src: url(../fonts/unna_regular.ttf);
}

:root {
  --background: #0f0e12;
  --seconde-background: #242329;
  --primary-color: #fff;
  --secondary-color: #4880f8;
  --secondary-color-rgb: rgb(72, 128, 248);
  --color: #fff;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: var(--background);
}

body::before{
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500;
  opacity: .025;
  pointer-events: none;
  background-size: cover;
  background: url(../image/noise.gif);
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

*::selection {
  background-color: var(--secondary-color);
  color: white;
}

* {
  color: var(--primary-color);
  font-family: "General Sans", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  cursor: none;
}

.cursor-outer,
.cursor-inner{
  position: fixed;
  top: -20px;
  left: -20px;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
}
.cursor-outer{
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  background-color: transparent;
  transition: all .08s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.cursor-inner{
  width: 10px;
  height: 10px;
  background: #fff;
}

#counter {
  position: fixed;
  top: 15%;
  left: 5%;
  z-index: 999999;
}

.unreveal p {
  transition: opacity .5s ease;
}

/*main-first-page*/

.main-container {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

@keyframes menuFade {
  from { 
    transform: translateY(100px);
    opacity: 0;
  }
  to { 
    transform: translateY(-50px);
    opacity: 1;
  }
}
@keyframes opacity {
  from { opacity: 0;}
  to { opacity: 1;}
}
@keyframes letterSpace {
  from { 
    letter-spacing: 5px;
    opacity: 0;
  }
  to { 
    letter-spacing: 0px;
    opacity: 1;
  }
}

.main-content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-logo{
  display: flex;
}
.main-logo p{
  font-size: 17vw;
  animation: menuFade 1s ease 50ms both;
  opacity: 0;
  font-family: 'Unna';
}
.main-logo p:nth-child(2){
  animation-delay: 100ms;
}
.main-logo p:nth-child(3){
  animation-delay: 150ms;
}
.main-logo p:nth-child(4){
  animation-delay: 200ms;
}
.main-logo p:nth-child(5){
  animation-delay: 250ms;
}
.main-logo p:nth-child(6){
  animation-delay: 300ms;
}
.main-logo p:nth-child(7){
  visibility: hidden;
}
.main-logo p:nth-child(8){
  animation-delay: 350ms;
}

.main-description {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  animation: letterSpace .7s ease 1s both;
  opacity: 0;
  width: 100%;
  position: relative;
  top: -80px;
}
.img-background{
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(180deg, var(--secondary-color) -30%, var(--background) 110%);
  background: -webkit-linear-gradient(180deg, var(--secondary-color) -30%, var(--background) 110%);
  background: linear-gradient(180deg, var(--secondary-color) -30%, var(--background) 110%);
}

.copyright{
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 13px;
  opacity: 0.4;
}

.resaux{
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.resaux ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.resaux ul li{
  margin: 0 15px;
  font-size: 17px;
  display: block;
  opacity: .4;
  transition: opacity .5s ease;
}
.resaux ul li:hover{
  opacity: .8;
}

.theme{
  position: absolute;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(36, 35, 41, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: 50px;
}

.logo-background{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
}

#info-main{
  animation: opacity 3s ease both;
  opacity: 0;
}

/*navigation*/

.nav {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 100px;
}

.nav .nav-menu{
  position: absolute;
  background-color: rgba(53, 53, 53, 0.4);
  box-shadow: 0 0 #0000, 0 0 #0000,0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 7px;
  animation: navigation 1s ease;
  padding: 15px 15px;
  width: 302px;
  height: 55px;
}

.nav .nav-menu-items{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav .nav-menu-items li{
  animation: menuItems .5s ease both;
  margin: 0 8px;
}

.nav .nav-menu-items li:nth-child(1){
  animation-delay: .7s;
}
.nav .nav-menu-items li:nth-child(2){
  animation-delay: .5s;
}
.nav .nav-menu-items li:nth-child(3){
  animation-delay: .5s;
}
.nav .nav-menu-items li:nth-child(4){
  animation-delay: .7s;
}

@keyframes header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navigation {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 302px;
  }
}

@keyframes menuItems {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav .bar-menu{
  position: absolute;
  height: 2px;
  bottom: 13px;
  background: white;
  transition: all .7s cubic-bezier(.79,.14,.15,.86);
  animation: menuItems .5s ease both .8s;
}

/*wrapper*/

.wrapper {
  display: flex;
  justify-content: left;
  flex-direction: row;
  width: 100%;
  padding: 0 10%;
  position: absolute;
  top: calc(115vh + 500px);

}
.wrapper span {
  color: var(--secondary-color);
}

.left-wrapper{
  height: 100%;
  width: 120px;
}

.timeline-wrapper {
  z-index: 2;
  position: relative;
  background: white;
  top: 15px;
  height: 360vh;
  width: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.timeline-wrapper-line {
  position: absolute;
  background: var(--secondary-color);
  top: 0;
  bottom: 0;
  height: 0;
  max-height: 361vh;
  width: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.timeline-wrapper-line-transparent {
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  height: 0;
  max-height: 361vh;
  width: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.node {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.node::after {
  content: "";
  width: 13px;
  height: 13px;
  background: var(--color);
  border-radius: 50px;
  position: absolute;
  transition: background 0.3s ease;
}
.node.actived:after {
  animation: pulseNodes 1s ease;
}
.node::before {
  content: "";
  width: 13px;
  height: 13px;
  border: solid 5px var(--background);
  border-radius: 50px;
  position: absolute;
}

@keyframes pulseNodes {
  from {
    box-shadow: 0 0 0 0px var(--secondary-color-rgb);
  }
  to {
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0);
  }
}


.right-wrapper{
  width: 100%;
  height: 100%;
}

.first-wrapper, .seconde-wrapper, .third-wrapper, .fourth-wrapper {
  z-index: 3;
  height: 60vh;
  width: 100%;
  margin-bottom: 30vh;
  perspective: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: visible;
}

.title-content {
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -100px;
  transform: rotateX(0deg);
  opacity: 0;
  width: 100%;
}

.title-content:nth-child(1) p, .title-content:nth-child(1) span, 
.qualifications:first-child p {
  font-size: 70px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
}

.title-content:nth-child(2) p,
.qualifications p, .qualifications span,
.skill p, .skill span,
.experience p, .experience span{
  font-size: 25px;
  font-weight: 500;
}

#wrapper-title{
  padding-bottom: 5px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #fff;
}

#box{
  background-color: var(--seconde-background);
  border-radius: 10px;
  height: 30vh;
  width: 250px;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#box img{
  height: 15vh;
  width: 15vh;
}

#box p,
#box i{
  font-size: 14px;
}

.skill-card{
  width: 100%;
  height: 70%;
  position: absolute;
  overflow: hidden;
}

.skill-card-container {
  display: flex;
  gap: 30px;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
}